## -*- mode: R -*-
strategico.config <- list(
  projects.home="/var/www/strategico/projects",
  projects.url="http://localhost/strategico/projects",
  storage="db",	
  ## #####################################################################
  ## DB Options
  ## #####################################################################
  db.name="STRATEGICO",
  db.user="r",
  db.pass="r",
  db.case="tolower",

  ## #####################################################################
  ## Logging Options
  ## #####################################################################
  logger.threshold=DEBUG
)
