## -*- mode: R -*-
strategico.config <- list(
  projects.home="/var/www/strategico/projects",
  projects.url="http://localhost/strategico/projects",
  storage="db",	

  ## needed for "dummy items" (external TS, or a group by a subset of all keys)	
  ## the ID is used to idetied the output directory of charts and reports
  id.dummies.from =500000,
  id.dummies.to   =501000,

  ## #####################################################################
  ## DB Options
  ## #####################################################################
  db.name="STRATEGICO",
  db.user="r",
  db.pass="r",
  db.case="tolower",

  ## #####################################################################
  ## Logging Options
  ## #####################################################################
  logger.threshold=DEBUG
)
