## -*- mode: R -*-
## This program is fre esoftware: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.

## Authors: L. Finos, M. Redaelli

project.config <- list(
                       project.name="web-ltp",
                       eval.function="ltp",
                       period.start=c(1997,1),
                       period.end=c(2010,2),
                       period.freq=2,
                       keys=c("KEY"),
                       values=c("OnlineValue"),
                       ## save:'items_csv','items_db','fullcsv','csv','t_csv','summary_csv','summary_db','model','images','report',
                       save=list('fullcsv','summary_csv','model','images','report'),
                       param=list(
                         n.ahead=8,
                         range=c(-Inf,Inf),
                         NA2value=0,
                         n.min=10,
                         try.models=c('mean','trend','lm','es','arima'),
                         logtransform=FALSE,
                         stepwise = TRUE,
                         formula.right.lm='S*trend+S*trend2',
                         rule='BestAIC',
                         rule.noMaxOver=2,
                         negTo0=FALSE,
                         toInteger=TRUE,
						 naive.values="last"
                         )
                       )
