#!/usr/bin/env Rscript
## -*- mode: R -*-
## This program is fre esoftware: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.

## Authors: L. Finos, M. Redaelli

strategico.config <- list(
  projects.home="/home/matteo/src/strategico/projects",
  projects.url="http://localhost/strategico/projects",
  storage="db",	

  ## needed for "dummy items" (external TS, or a group by a subset of all keys)	
  ## the ID is used to idetied the output directory of charts and reports
  id.dummies.from =600000,
  id.dummies.to   =600299,

  ## #####################################################################
  ## DB Options
  ## #####################################################################
  db.name="STRATEGICO",
  db.user="r",
  db.pass="r",
  db.case="tolower",

  ## #####################################################################
  ## Logging Options
  ## #####################################################################
  logger.threshold=DEBUG
)
